<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Muhammed Bingöl - Resume Page  </title>

    <!-- Bootstrap core CSS -->
    <link href="/muhammedbingol/Theme/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/muhammedbingol/Theme/assets/css/main.css" rel="stylesheet">
    
	<link rel="stylesheet" href="/muhammedbingol/Theme/assets/css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="/muhammedbingol/Theme/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/muhammedbingol/Theme/assets/js/smoothscroll.js"></script>
    <script src="/muhammedbingol/Theme/assets/js/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
							<li class="menu-item"><a class="smoothScroll" href="#about" title="Hakkında"><i class="icon-user"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#resume" title="Özgeçmiş"><i class="icon-file"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#work" title="Deneyimler"><i class="icon-briefcase"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#contact" title="İletişim"><i class="icon-envelope"></i></a></li>
						</ul><!--/ uL#nav -->
					</div><!-- /.dropdown -->

					<div class="clear"></div>
				</div><!--/.row -->
			</div><!--/.container -->

			<div class="clear"></div>
		</div><!--/ #topbar-inner -->
	</div><!--/ #section-topbar -->
	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Muhammed BİNGÖL</h1>
					<h3>Elektrik Elektronik Mühendisi ve Yazılım Geliştirici | muhmmdbngl@gmail.com</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->
	

	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>HAKKINDA</h5>
				</div>
				<div class="col-lg-6">
					<p>Elektrik Elektronik Mühendisi ve Yazılım Mühendisiyim 1 yıllık bir tecrübeye sahibim. Frontend ve backend geliştirmeleri üzerinde java dilini kullanarak  çalışmalar yapıyorum. Bu alanda programlara katılarak projeler içinde olup kendimi geliştiriyorum. Ayrıca web geliştirme gibi diğer alanlarda da becerilerim var. </p>
				</div>
				<div class="col-lg-3">
					<p><a href="#"><i class="icon-file"></i></a> <sm>PDF İNDİR</sm></p>
				</div>
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->


	<section id="resume" name="resume"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EĞİTİM</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Java Spring Boot Eğitimi</t><br/>
						TechCareer <br/>
						<i>2 AY </i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2022 - present</sm><br/>
					<imp><sm>Devam ediyor..</sm></imp>
					</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Elektrik Elektronik Mühendisliği</t><br/>
						İstanbul Üniversitesi <br/>
						<i></i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2016-2021</sm></p>
				</div>
	
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	
	
	<!--WORK DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>KARIYER</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Backend Developer</t><br/>
						TechCareer. <br/>
					</p>
					<p><more> Java Spring Boot Eğitimi aldıktan sonra Projelre üzerinde geliştirmeler yaptım.</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>MAYIS 2022 - Devam Ediyor</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Elektirk Elektronik Mühendisi</t><br/>
						UNİTED GROUP <br/>
					</p>
					<p><more> Elektrik ve Elektronik üretim ve tasarım işinde görev aldım burada güç elektroniği üzerine çalışmalar gerçekleştirdim.</more></p>
				</div>
				<div class="col-lg-3 ">
					<p><sm>HAZİRAN 2021 - AĞUSTOS 2021</sm></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Elektrik ve Elektronik Mühendisi </t><br/>
					Alya Mühendislik <br/>
					</p>
					<p><more> Microişlemciler üzerinde çalışarak keil programlama dili kullanıp STM 32 ' ler üzerind çalışmalar gerçekleştirdim. </more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>AĞUSTOS 2021 - EKİM 2021</sm></p>
				</div>
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->


	<!--AWARDS DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>PROJELER</h5>
				</div>
				<div class="col-lg-6">
					<a href ="https://github.com/bnglmhmmd/JavaProject/tree/main/SnakeGame" ><t>SNAKE GAME</t><br/>
						JAVA ile Yılan Oyunu Projesi <br/>
					</a>
				</div>
				<div class="col-lg-3">
					<p><sm>Mart 2022</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p> <a href ="https://github.com/bnglmhmmd/JavaProject" > <t>BİLGİ YARISMASI </t><br/>

					</p>
					<p><more> Java programlama dili ile bilgi yarısması uygulamsı gerçeklestirdim.  </more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>Nisan 2022</sm></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p>  <t> İSTANBUL UNIVERSITESI BITIRME PROJESI  </t><br/>

					</p>
					<p><more> Elektrikli araçların hız performans değerlendirilnesinin python programlama dili ile hesaplanmalarının gerçekleştirilmesi.   </more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>Mayıs 2021</sm></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p> <a href ="https://github.com/bnglmhmmd/PythonKodlamaEgzesizleri" > <t> PYTHON PROGRAMLAMA EGZERSİZ ÇALISMALARI </t><br/>

					</p>
					<p><more> Python programlama dili ile baslangıc seviyeler icin egzersiz ve proje çalimasi    </more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>Mayıs 2020</sm></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p> <a href ="http://localhost:8080/index" > <t> TECH CAREER CV PROJESI </t><br/>

					</p>
					<p><more> Tek sayfalık Cv Hazırlama ve proje üzerinde frontend çalışmaları gerçekleştirme.    </more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>Mayıs 2022</sm></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p> <a href ="http://localhost:3000" > <t> TECH CAREER BITIRME PROJESI </t><br/>

					</p>
					<p><more> Spring Boot kullanrak backend geliştirmeleri React kullanarak frontend çalışmaları yaptım. Backend te login,register, logout aynı zamanda database i kullanrak bilgi kaydetme işlemlerini gerçekleştirdim. React ile frontend geliştirmeleri yaparak backendteki işlemleri buraya uyguladım.    </more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>Mayıs 2022</sm></p>
				</div>
		
		</div><!--/.row -->
		<br>
	</div><!--/.container -->
	
	
	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>YETENEKLER</h5>
					</div>
					<div class="col-lg-3 centered">
						<div class="bar sbar" data-percent="100">
						<canvas id="javascript" height="130" width="130" ></canvas>
						</div>
						<p>Javascript</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#ffa500"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130"></canvas>
						<p>Bootstrap</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 90,
										color:"#ffa500"
									},
									{
										value : 10,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="java" height="130" width="130"></canvas>
						<p>Java</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#ffa500"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("java").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="html" height="130" width="130"></canvas>
						<p>HTML/CSS</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 60,
										color:"#ffa500"
									},
									{
										value : 40,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="python" height="130" width="130"></canvas>
						<p>Pyhton</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#ffa500"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("python").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="mysql" height="130" width="130"></canvas>
						<p>MySQL</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 50,
										color:"#ffa500"
									},
									{
										value : 50,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("mysql").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>

			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div><!--/ #skillswrap -->




	


	<section id="contact" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5>İLETİŞİM</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Email</t><br/>
						muhmmdbngl@gmail.com <br/>
					</p>
					<p><t>Adres</t><br/>
						Kadıköy <br/>
						No: 25  <br/>
						İstanbul, Türkiye. <br/>
					</p>
					<p><t>Phone</t><br/>
						+90 534 237 1017 <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SOSYAL MEDYA LİNKLERİ </sm></p>
					<p>

						<a href="#"><i class="icon-twitter"></i></a>

						<a href="#"><i class="icon-linkedin"></i></a>
						<a href="#"><i class="icon-apple"></i></a>

					</p>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->
	
	<div id="c">
		<div class="container">
			<p>Düzenleyen  <a href="https://github.com/bnglmhmmd"> Muhammed Bingöl</a></p>
		
		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/muhammedbingol/Theme/assets/js/bootstrap.js"></script>
  </body>
</html>
